<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      <h2>Store</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-button fill="clear" size="large" (click)="goToCart()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <div *ngIf="this.totalCost" style="align-self: center;"><strong>Cart Total: ${{totalCost}}.00</strong></div>
  </ion-row>
  <ion-card>
    <ion-row>
      <ion-col>
        Single Drop-in<br>
        <strong>$20.00</strong>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="addToCart('punchPass', 1,20)" class="ion-float-right">Add to cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        5 Class Pass<br>
        <strong>$90.00</strong>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="addToCart('punchPass', 5,90)" class="ion-float-right">Add to cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        10 Class Pass<br>
        <strong>$165.00</strong>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="addToCart('punchPass', 10,165)" class="ion-float-right">Add to cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        1 Month Unlimited<br>
        <strong>$185.00</strong>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="addToCart('unlimited',0, 185)" class="ion-float-right">Add to cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        1 Month Unlimited (Open Gym Only)<br>
        <strong>$130.00</strong>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="addToCart('openGym',0, 185)" class="ion-float-right">Add to cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        1 Week Free Trial (First timers only)<br>
        <strong>$0.00</strong>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="addToCart('freeTrial', 7,0)" class="ion-float-right">Add to cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
