<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>Profile</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color="white" size="large" (click)="viewSettings()">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class='profilePic' src="https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
  <ion-button class="buttons" size='small' fill="clear" (click)="editProfile()">Edit</ion-button>
  <ion-item>
    Name: {{user?.fName}} {{user?.lName}}
  </ion-item>
  <ion-item>
    Birthday: {{user?.birthday}}
  </ion-item>
  <ion-item>
    Gender: {{user?.gender}}
  </ion-item>
  <ion-item>
    Phone Number: {{user?.phoneNumber}}
  </ion-item>
  <ion-item>
    Email: {{user?.email}}
  </ion-item><br><br>
  <ion-item>
    Membership Type: {{user?.membershipType}}
  </ion-item>
  <ion-item>
    Passes Available: {{user?.activeMembership}}
  </ion-item>

  <ion-button class="buttons" fill="clear" (click)="viewPurchases()">View Purchases</ion-button>

</ion-content>
