<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div>
          <h2>Workouts</h2>
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="localUser">
          <div *ngIf="this.localUser.isAdmin === 1" class="ion-text-end">
            <ion-button color='white' (click)="showAddForm()">Edit</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="selectDateForm">
    <input type="date" class="form-control-date" formControlName="date"/>
  </form>
  <div class="description" *ngFor="let workout of workouts">
    <div *ngIf="this.selectDateForm.value.date === workout.date">
        <pre>{{workout.description}}</pre>
    </div>
  </div>
  <div *ngIf="localUser">
    <div *ngIf="this.localUser.isAdmin === 1">
      <div *ngIf="showForm">
        <form [formGroup]="adminAddNewForm">
          <div class="mb-3">
            <textarea class="form-control" formControlName="description" rows="10" cols="40"></textarea>
          </div>
          <div>
            <div *ngIf="!this.singleWorkout">
              <ion-button type="submit" (click)="addNew()">Add New</ion-button>
            </div>
            <div *ngIf="this.singleWorkout">
              <ion-button type="submit" (click)="edit()">Edit Existing</ion-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
