form {
  //margin: 16px;
  text-align: center;
}
.form-control-date {
  //background-color: #e6e6e6;
  font-size: 18px;
  height: 36px;
  border-radius: 6px;
  border: 0px;
}

.description {
  margin: 16px;
}
