<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Register</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
      <p>Create a new account</p>
<form [formGroup]="registerForm">
    <ion-item>
      <ion-label class="form-label" position="stacked">First Name</ion-label>
      <ion-input type="text" class="form-control" formControlName="fName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Last Name</ion-label>
      <ion-input type="text" class="form-control" formControlName="lName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Email address</ion-label>
      <ion-input type="email" class="form-control" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Password</ion-label>
      <ion-input type="password" class="form-control" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Confirm Password</ion-label>
      <ion-input type="password" class="form-control" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <span *ngIf="registerForm.hasError('notSame')">Passwords do not match</span>
    <ion-item>
      <ion-label class="form-label" position="stacked">Phone Number</ion-label>
      <ion-input type="tel" class="form-control" formControlName="phoneNumber"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label class="form-label" position="stacked">Date of Birth</ion-label>
    <ion-input type="date" class="form-control" formControlName="birthday"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="form-label">Gender</ion-label>
    <ion-select formControlName="gender" class="form-control">
      <ion-select-option value="female">Female</ion-select-option>
      <ion-select-option value="male">Male</ion-select-option>
      <ion-select-option value="undisclosed">Prefer not to disclose</ion-select-option>
    </ion-select>
  </ion-item>

<!--    -->
<!--    <div class="mb-3">-->
<!--        <label class="form-label">First Name</label>-->
<!--        <input type="text" class="form-control" formControlName="fName">-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Last Name</label>-->
<!--        <input type="text" class="form-control" formControlName="lName">-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Email address</label>-->
<!--        <input type="email" class="form-control" formControlName="email">-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Password</label>-->
<!--        <input type="password" class="form-control" formControlName="password">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label class="form-label">Confirm Password</label>-->
<!--      <input type="password" class="form-control" formControlName="confirmPassword">-->
<!--    </div>-->
<!--  <span *ngIf="registerForm.hasError('notSame')">Passwords do not match</span>-->
<!--    <div class="mb-3">-->
<!--      <label class="form-label">Phone Number</label>-->
<!--      <input type="tel" class="form-control" formControlName="phoneNumber">-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label class="form-label">Date of Birth</label>-->
<!--    <input type="date" class="form-control" formControlName="birthday">-->
<!--</div>-->
<!--<div class="mb-3">-->
<!--  <label class="form-label">Gender</label>-->
<!--  <select formControlName="gender" class="form-control">-->
<!--      <option value="female">Female</option>-->
<!--      <option value="male">Male</option>-->
<!--      <option value="undisclosed">Prefer not to disclose</option>-->
<!--  </select>-->
<!--</div>-->
  <ion-item lines="none">
    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-control"/>
    <label for="acceptTerms" class="form-check-label">I agree to the <a [routerLink]="['/waiver']">Terms & Conditions</a></label>
  </ion-item>
  <ion-row>
    <ion-col class="ion-text-end">
      <ion-button type="submit" (click)="register()">Register</ion-button>
    </ion-col>
  </ion-row>
</form>
  </ion-content>
