<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Receipts</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor='let purchase of purchases'>
    <app-puchase [purchase]="purchase"></app-puchase>
  </div>
  <div class="cartBtn">
    <ion-button (click)="goToCart()">Buy Passes</ion-button>
  </div>

</ion-content>
