<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Change Password</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm">
    <ion-item>
      <ion-label class="form-label" position="stacked">Current password</ion-label>
      <ion-input type="password" class="form-control" formControlName="currentPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">New password</ion-label>
      <ion-input type="password" class="form-control" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Confirm new password</ion-label>
      <ion-input type="password" class="form-control" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <span *ngIf="editForm.hasError('notSame')">Passwords do not match</span>
    <div class="button">
      <ion-button type="submit" (click)="changePassword()">Save Changes</ion-button>
    </div>
  </form>
</ion-content>
