<ion-header>
  <ion-toolbar>
    <ion-title>waiver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div><br>
    ASSUMPTION OF RISK, RELEASE OF LIABILITY, WAIVER AND INDEMNITY AGREEMENT
  </div><br><br>
  <div>
    PLEASE READ THIS DOCUMENT CAREFULLY. BY SIGNING THIS DOCUMENT, YOU ARE AGREEING TO WAIVE CERTAIN LEGAL RIGHTS, INCLUDING THE RIGHT TO SUE.
  </div><br>
  <div>
    I acknowledge and agree that:
  </div><br>
  <div>
    I will follow all instructions and directions (if any) that may be provided to me by Frontier Performance during training programs;<br><br>
    I may be allowed to access Frontier Performance’s facilities at any time and, at certain times, there     may be no supervision or assistance available to me. I understand that if I am injured, become unconscious, or suffer a stroke or heart attack, there may be no one to respond to my emergency and that Frontier Performance has no duty to provide any assistance to me.<br><br>
    I will provide Frontier Performance with an honest and accurate description of my level of physical fitness, health, nutrition, use of medication, medical history, and current physical, mental, and medical condition. If I answer “yes” to one or more questions on the attached Physical Activity Questionnaire form, I will consult with my physician prior to commencing athletic activities with Frontier Performance.<br><br>
    I consent to receive first aid and medical treatment from Frontier Performance in the event of an accident, injury or illness during athletic activity. If I have provided medication to Frontier Performance, I consent to receive such medication and I consent to Frontier Performance administering such medication to me.<br><br>
    Frontier Performance may videotape, audiotape, or photograph me for instructional and promotional purposes without payment of any kind to me and without further notice to me or permission from me.<br><br>
    I will ask permission from a Frontier Performance executive or staff member before using any video taping, recording or documentation devices while on the 933a 48ave SE location. I will also ask permission before posting any content related to Frontier Performance while on the 933a 48ave SE location to any social media or other presentation, documentation or media related entities.<br><br>
    I understand that having my child(ren) present while I am using Frontier Performance’s facilities, participating in or watching Frontier Performance’s activities, or being present on Frontier Performance’s premises, is at my own risk, and that I am solely responsible for supervising my child(ren) during such times.<br><br>
    I understand that my failure to comply with the above may result in my rejection from the premises, non-refundable cancellation of my membership and possible legal actions taken against me.<br><br>
    RELEASE OF LIABILITY, WAIVER OF CLAIMS AND INDEMNIFICATION<br><br>

    In consideration of Frontier Performance allowing me to participate in training programs and to use its equipment, facilities and services, I agree that:<br><br>

    1. I WAIVE ANY AND ALL CLAIMS that I now have, or may in the future have, against Frontier Performance AND I RELEASE Frontier Performance from any and all liability for any loss, damage, expense or injury (including death) that I, or my next-of-kin, may suffer as a result of my participation in training programs, DUE TO ANY CAUSE WHATSOEVER including, but not limited to:<br><br>

    a) negligence on the part of Frontier Performance;<br><br>
    b) breach of contract by Frontier Performance;<br><br>
    c) breach of warranty by Frontier Performance in respect of the design, manufacture, selection, installation, maintenance or adjustment of equipment;<br><br>
    d) breach of any statutory or other duty of care on the part of Frontier Performance; and<br><br>
    e) the failure by Frontier Performance to safeguard or protect me from the risks associated with training programs; and<br><br>
    2. I WILL INDEMNIFY Frontier Performance FROM, AND COMPENSATE Frontier Performance FOR, any and all liability that Frontier Performance may incur for any damage, loss, expense or injury to any third party resulting from my participation in training programs.<br><br>

    In the event that I die or become unable to make my own decisions, I agree that this Agreement will remain binding upon my heirs, next-of-kin, executors, administrators, assigns and representatives (collectively, my “Heirs”).
  </div>







  <ion-button fill="clear" (click)="acceptTerms()">Accept</ion-button>
  <ion-button fill="clear" (click)="cancelButton()">Cancel</ion-button>
</ion-content>
