<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div>
          <h2>Settings</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  Preferences
</ion-item>
  <ion-button fill="clear" (click)="fakeButton()">Push Notifications*</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Privacy Settings*</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Calendar Settings*</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Communications*</ion-button><br>
  <ion-item>Profile</ion-item>
  <ion-button fill="clear" (click)="editProfile()">Edit Profile</ion-button><br>
  <ion-button fill="clear" (click)="changePassword()">Change Password*</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Payment Details*</ion-button><br>
  <ion-button fill="clear" (click)="logout()">Logout</ion-button><br>

</ion-content>
