<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-button fill="clear" (click)="goBack()">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button fill="clear" (click)="fakeButton()">Notification Settings</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Edit Profile</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Change Password</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Calendar Settings</ion-button><br>
  <ion-button fill="clear" (click)="fakeButton()">Privacy Settings</ion-button><br>
  <ion-button fill="clear" (click)="logout()">Logout</ion-button><br>

</ion-content>
