<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Login</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>Please sign in to continue</p>
<form [formGroup]="loginForm">
    <ion-item>
      <ion-label class="form-label" position="stacked">Email address</ion-label>
      <ion-input type="email" class="form-control" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="mb-3">
      <ion-label class="form-label" position="stacked">Password</ion-label>
      <ion-input type="password" class="form-control" formControlName="password"></ion-input>
    </ion-item>
    <ion-button fill='clear' size='small' class="forgotPass" (click)="forgotPass()">Forgot Password?</ion-button><br>

    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button type="submit" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
</form>
  <p>Don't have an account? <a routerLink="/register">Sign Up!</a></p>
</ion-content>

