<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Class Details</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button fill="clear" (click)="register(classDetails[0].classId,user.userId)">Register</ion-button>
  <div *ngIf="classDetails">
    Name: {{classDetails[0].classType.name}}<br>
    Description: {{classDetails[0].classType.description}}<br>
    Day: {{classDetails[0].day}}<br>
    Start Time: {{classDetails[0].startTime}}<br>
    End Time: {{classDetails[0].endTime}}<br>
    Date: {{classDate}}
  </div>

</ion-content>
