<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Class Details</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="classDetails">
    <div *ngIf="localUser" class="button">
      <div *ngIf="this.localUser.isAdmin === 1">
        <ion-button (click)="goToEdit()">Edit Details</ion-button>
        <ion-button (click)="cancelClass()">Cancel</ion-button>
      </div>
    </div>
    <ion-card>
      <ion-row>
        <ion-col>
          <strong>{{ classDetails[0].classType.name }}</strong><br>
          {{ classDetails[0].startTime.substring(0,5)}} - {{ classDetails[0].endTime.substring(0,5)}}<br>
        </ion-col>
        <ion-col>
          <div *ngIf="!attendees.includes(localUser.userId); else cancelBtn">
            <ion-button fill="clear" [disabled]="!canRegister() || cancelled" (click)="register(classDetails[0].classId,user.userId)" class="ion-float-right">Register</ion-button>
          </div>
          <ng-template #cancelBtn>
            <ion-button fill="clear" (click)="cancelReg()" class="ion-float-right">Cancel Registration</ion-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-card>
    <h5>Description</h5>
    <div *ngIf="cancelled">CLASS CANCELLED</div>
    <p>
      {{classDetails[0].classType.description}}
    </p>
    <p>Spots available: {{classDetails[0].classType.maxLimit - attendees.length}} (Max {{classDetails[0].classType.maxLimit}})</p>
    <h5>Attendees</h5>
    <p>
      <app-attendees [(listAttendeeDetails)]="listAttendeeDetails"></app-attendees>
    </p>
  </div>
  <div *ngIf="attendees.includes(localUser.userId)">
    <h5>Add to Calendar</h5>
    <ion-item *ngFor="let cal of calendars" tappable>
      <ion-button fill="clear" (click)="addEvent(cal)" class="ion-float-right">Add to "{{cal.name}}"</ion-button>
    </ion-item>
  </div>



</ion-content>
