<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Class Details</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="classDetails">
    <ion-card>
      <ion-row>
        <ion-col>
          <strong>{{ classDetails[0].classType.name }}</strong><br>
          {{ classDetails[0].startTime.substring(0,5)}} - {{ classDetails[0].endTime.substring(0,5)}}<br>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="register(classDetails[0].classId,user.userId)" class="ion-float-right">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <h5>Description</h5>
    <p>
      {{classDetails[0].classType.description}}
    </p>
    <h5>Attendees</h5>
    <p>Add users registered for class here (will need to import classDate and compare to classDate and classDetails[0].classId on class-reg database</p>
  </div>

</ion-content>
