<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div >
          <h2>Cart</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button color='white' (click)="goBack()">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let i of allPurchases">
    <ion-card>
      <ion-row>
        <ion-col>
          Type: {{i.purchase}}<br>
          <strong>Cost: ${{i.price}}.00</strong><br>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="deletePurchase(allPurchases.indexOf(i))" class="ion-float-right">Delete</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div>
    <h5>Payment amount</h5>
    <p class="totalCost">${{totalCost}}.00</p>
  </div>
  <form [formGroup]="paymentForm">
    <ion-item>
      <ion-label class="form-label" position="stacked">Name on card</ion-label>
      <ion-input type="text" class="form-control" formControlName="name" placeholder="John Smith"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Card number</ion-label>
      <ion-input formControlName="cardNumber" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">Expiry date</ion-label>
      <ion-input type="text" class="form-control" formControlName="expiry" placeholder="MMYY"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">CVV</ion-label>
      <ion-input type="text" class="form-control" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="form-label" position="stacked">ZIP/Postal Code</ion-label>
      <ion-input type="text" class="form-control" formControlName="postalCode" placeholder="A1A 1A1"></ion-input>
    </ion-item>
  </form>
  <div class="payBtn">
    <ion-button (click)="processPayment(this.totalInstances, this.type)">Pay Now</ion-button>
  </div>

</ion-content>
